@font-face {
    font-family: 'kingshare' ;
    src: url(../Assets/Kingshare.ttf);
}

body{
    background-attachment: fixed;
    background-image:linear-gradient(to right bottom, black, #424242, #330066, rgb(104, 47, 104));
    font-size: large;
    font-family:sans-serif;
    font-size: 20px;
}

#swedishmeatballs{
    font-family: "kingshare", cursive, sans-serif;
    color:#EC7063;
    font-size: 50px;
    text-align: center;
}

