@font-face {
    font-family:'kingshare' ;
    src: url(../Assets/Kingshare.ttf);
}

#image{
    display:block;
    margin-right: auto;
    margin-left: auto;
}

#salmon{
    font-family: "kingshare", cursive, sans-serif;
    color:#EC7063;
    font-size: 50px;
    text-align: center;
}

body{
        background-size: cover;    
        background-repeat: no-repeat;
        background-image: url(../Photos/gradient.webp);
}

#Ingredients{
    font-family: "kingshare", cursive, sans-serif;
    color:#EC7063;
    font-size: 50px;
}

p, h4, h3{
    color: rgb(179, 182, 180);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    text-align: center;
    
}