@font-face {
    font-family: 'kingshare';
    src: url(Assets/Kingshare.ttf);
}

body{
    
    background-size: cover;    
    background-repeat: no-repeat;
    background-image: url(./Photos/apple.webp);
    font-size: large;
    font-family:"kingshare", cursive,sans-serif;
    font-size: 25px;
}

li{
    color:#616A6B ;
}
#titlepage{
    color:#EC7063 ;
    font-family: "kingshare", cursive, sans-serif;
    font-size: 75px;
    
    
}
a:link{
    color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited{
    color: #D2B4DE ;
    background-color: transparent;
}
a:hover{
    color: aquamarine;
}